<!--
Шаблонный тег  extends  сообщает Django, что надо наследовать от
шаблона blog/base.html. Затем заполняются блоки title и content базового
шаблона. Посты прокручиваются в цикле, и их заголовок, дата, автор и тело
отображаются на странице, включая ссылку в заголовке на подробный URL-
адрес поста. URL-адрес формируется с использованием предоставляемого
веб-фреймворком Django шаблонного тега  url .
Этот шаблонный тег позволяет формировать URL-адреса динамически по
их имени. Мы используем blog:post_detail, чтобы ссылаться на URL-адрес
post_detail в именном пространстве blog. Мы передаем необходимый пара-
метр post.id, чтобы сформировать URL-адрес для каждого поста.

Для формирования URL-адресов в своих шаблонах следует всегда использо-
вать шаблонный тег url , а не писать жестко привязанные URL-адреса.
Такой подход упростит техническое сопровождение URL-адресов в будущем.

В теле поста применяются два шаблонных фильтра: truncatewords усека-
ет значение до указанного числа слов, а linebreaks конвертирует результат
в разрывы строк в формате HTML. При этом можно конкатенировать столько
шаблонных фильтров, сколько потребуется; каждый из них будет применен
к результату, сгенерированному предыдущим.
-->

{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
<h1>My Blog</h1>
{% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
<!--        <a href="{% url 'blog:post_detail' post.id %}">-->
            {{ post.title }}
        </a>
    </h2>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
{% endblock %}