<!--
Это шаблон, который используется для отображения формы, служащей
для того, чтобы делиться постом по электронной почте, и для отображения
успешного сообщения после отправки электронного письма. Различие между
обоими случаями проводится с помощью тега  if sent .
Для того чтобы отобразить форму, мы определили HTML-элемент form,
указав, что форма должна быть передана методом POST form method=post
Экземпляр формы вставлен с помощью
тега form.as_p . При этом
веб-фреймворку Django сообщается, что нужно прорисовывать поля формы,
используя абзацные HTML-элементы p с применением метода as_p. Кроме
того, форму можно было бы прорисовывать в виде неупорядоченного списка
с использованием метода as_ul или в виде HTML-таблицы с применением
метода as_table. Еще одним вариантом является прорисовка каждого поля
путем прокручивания полей формы в цикле,
-->

{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>
    "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
</p>
{% else %}
<h1>Share "{{ post.title}}" by e-mail</h1>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
<input type="submit" value="Send e-mail">
</form>
{% endif %}
{% endblock %}


<!--
Здесь добавлен шаблонный тег csrf_token . Указанный тег вводит
скрытое поле с автоматически сгенерированным токеном во избежание атак
По умолчанию Django проверяет наличие токена CSRF во всех запросах ме-
тодом POST. Тег csrf_token следует вставлять во все формы, передаваемые на
обработку методом POST.

-->