<!--
Тег load static  сообщает Django, что нужно загрузить статические
шаблонные теги (static), предоставляемые приложением django.contrib.
staticfiles, которое содержится в настроечном параметре INSTALLED_APPS.
После их загрузки шаблонный тег  static  можно использовать во всем
этом шаблоне. С помощью
указанного шаблонного тега можно вставлять
статические файлы, такие как файл blog.css, который находится в исходном
коде данного примера в каталоге static/ приложения blog.
Вы видите, что присутствуют два тега  block . Они сообщают Django,
что нужно определить блок в отмеченной области. Шаблоны, которые на-
следуют от этого шаблона, могут заполнять блоки контентом. В приведенном
выше исходном коде был определен блок под названием title и блок под
названием content.
-->

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}My Blog head{% endblock %}
        </title>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>My blog sidebar</h2>
            <p>This is my blog.</p>
        </div>
    </body>
</html>

