<!--
Мы создадим шаблон комментарной формы, которая будет использоваться в двух местах:
•• в шаблоне детальной информации о посте, ассоциированном с представлением
post_detail, чтобы пользователи могли публиковать комментарии;
•• в шаблоне комментария к посту, ассоциированном с представлением
post_comment, чтобы отображать форму снова, если в форме есть какие-либо ошибки.
Мы создадим шаблон формы и будем использовать шаблонный тег include, чтобы вставлять его в два других шаблона.

В указанном шаблоне мы динамически формируем URL-адрес action
HTML-элемента form, используя шаблонный тег  url . Мы формируем
URL-адрес представления post_comment, которое будет обрабатывать форму.
Мы отображаем форму, прорисованную абзацами HTML, и вставляем тег
csrf_token , чтобы защититься от CSRF, поскольку данная форма будет
передаваться на обработку методом POST.

-->


<h2>Add a new comment</h2>
<form action="{% url "blog:post_comment" post.id %}" method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Add comment"></p>
</form>